<div class="trix-content">
  <div>
    ID: <%= @post.id %>
  </div>
  <div>
    Owner: <%= @post.owner %>
  </div>
  <div>
    Title: <%= @post.title %>
  </div>
  <div>
    Body: <%= @post.body %>
  </div>
</div>